body{
  margin :50px;
}
.timer{
  display: flex;
 }
.double{
font-size: 600%;
margin:1%;
 }
.hour,.minute,.second{
display:flex;
flex-direction: column;
align-items: center;
}
.text{
 font-size: 200%;
 color: gray;
}
.num{
  font-size: 700%;
 }
